@font-face {
    font-family: 'republica';
    src: url('letras/ArialRoundedMTBold.ttf');
    /* IE9 Compat Modes */
}

.tituloRepublica {
    font-family: 'republica';
    margin-bottom: 0%;
}

.tituloElectoral {
    font-family: 'Arial';
    font-weight: 900;
    margin-top: 0%;
    margin-bottom: 0;
}

.nuip {
    font-family: 'republica';
    float: left;
    border: 1px solid black;
    padding: 19.9px;
    border-top-left-radius: 10px;
    box-shadow: #000 4px 4px;
    margin-left: 10%;
}

.empty {
    border-bottom-right-radius: 10px;
    box-shadow: #000 4px 4px;
    float: left;
    border: 1px solid black;
    padding: 21px;
    border-left: none;
    width: 170px;
    background: white;
}

h1 {
    font-family: 'Arial Black';
    float: left;
    margin: 0%;
    margin-left: 14%;
    transform: scale(1.7);
    font-size: 17px;
    margin-top: 17px;
    line-height: 17px;
}

.indicativo {
    font-family: 'Arial';
    float: left;
    margin: 0%;
    margin-left: 9%;
}

.indicativo p {
    margin-top: 10px;
    float: left;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
}

.num {
    font-weight: 1 !important;
    margin-left: 22px;
    font-size: 32px !important;
    margin-top: 22px !important;
    margin-bottom: 5px !important;
    font-family: 'Calibri light';
}

.primerCuadro {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 150px;
    margin-top: 90px;
    border: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: #000 4px 4px;
}

.codigoB {
    position: absolute;
    margin-left: 1220px;
}

.subtitulo1Primercuadro {
    width: 100%;
    height: 20px;
    font-family: 'Calibri';
    font-style: italic;
    border-bottom: 1px solid #aaa;
}

.datosOficina {
    margin-left: 10px;
    font-weight: bold;
}

.columna2 {
    width: 100%;
    height: 45px;
    font-family: 'Calibri';
    font-size: 15px;
    border-bottom: 1px solid #aaa;
}

.registraduria {
    display: inline-block;
    width: 13%;
    float: left;
    height: 100%;
    border-right: 1px solid #aaa;
}

.registraduria span {
    display: inline-block;
    margin-top: 22px;
    font-family: 'Dubai';
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    float: left
}

.cuadrito {
    border: 1px solid #aaa;
    width: 23px;
    float: left;
    height: 23px;
    margin-top: 18px;
    margin-left: 10px;
}

.notariaNumer {
    width: 24%;
    float: left;
    height: 100%;
    font-family: 'Dubai';
    font-weight: bold;
    font-size: 14px;
    border-right: 1px solid #aaa;
}

.notariaCuadro,
.numeroCuadro {
    display: inline-block;
    margin-top: 22px;
    margin-left: 10px;
    float: left;
}

.numeroCuadro {
    margin-left: 40px;
    margin-right: 10px;
    font-family: 'Dubai';
    font-weight: bold;
    font-size: 14px;
}

.cuadritoPegado {
    border: 1px solid #aaa;
    width: 23px;
    float: left;
    height: 22px;
    margin-top: 20px;
    margin-left: 0px;
}

.consulado {
    height: 100%;
    width: 13%;
    float: left;
    border-right: 1px solid #aaa;
}

.consulado span {
    display: inline-block;
    margin-top: 22px;
    font-family: 'Dubai';
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
    float: left
}

.corregimiento {
    height: 100%;
    width: 14%;
    float: left;
    border-right: 1px solid #aaa;
}

.corregimiento span {
    display: inline-block;
    margin-top: 22px;
    font-family: 'Dubai';
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
    float: left
}

.inspeccionPolicia {
    height: 100%;
    width: 18%;
    float: left;
    border-right: 1px solid #aaa;
}

.inspeccionPolicia span {
    display: inline-block;
    margin-top: 22px;
    font-family: 'Dubai';
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
    float: left
}

.codigo {
    height: 100%;
    width: 17.44%;
    float: left;
}

.codigo span {
    display: inline-block;
    margin-top: 18px;
    font-family: 'Dubai';
    font-weight: bold;
    margin-left: 20px;
    float: left;
    font-size: 20px;
}

.cuadritoEspecial {
    height: 100%;
    border-right: 1px solid #aaa;
    width: 15.5%;
    float: left;
}

.columna3 {
    width: 100%;
    height: 17px;
    border-bottom: 1px solid #aaa;
}

.datosColumna3 {
    margin-left: 10px;
    font-family: 'Dubai';
    font-weight: 900;
    font-size: 13px;
}

.segundoCuadro {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 260px;
    margin-top: 10px;
    border: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: #000 4px 4px;
}

.subtituloSegundoCuadro {
    width: 100%;
    height: 20px;
    font-family: 'Calibri';
    font-style: italic;
    border-bottom: 1px solid #aaa;
}

.datosInscrito {
    margin-left: 10px;
    font-weight: bold;
}

.columna1Apellido {
    width: 49.91%;
    height: 17px;
    font-family: 'Arial black';
    font-size: 12px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    float: left;
}

.primerApellido {
    margin-left: 41%;
    margin-right: 41%;
    font-weight: bold;
}

.columna2Apellido {
    width: 49.92%;
    height: 17px;
    font-family: 'Arial black';
    font-size: 12px;
    border-bottom: 1px solid #aaa;
    float: left;
}

.segundoApellido {
    margin-left: 40.1%;
    margin-right: 40.1%;
    font-weight: bold;
}

.filaVacia {
    width: 49.92%;
    height: 40px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    float: left;
}

.filaVacia2 {
    width: 49.92%;
    height: 40px;
    border-bottom: 1px solid #aaa;
    float: left;
}

.columnaNombre {
    clear: both;
    width: 100%;
    height: 16px;
    border-bottom: 1px solid #aaa;
}

.nombreInscrito {
    margin-left: 47%;
    margin-right: 47%;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Arial black';
}

.filaVacia3 {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #aaa;
}

.ColumnaFechaNacimiento {
    width: 50%;
    height: 16px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    float: left;
}

.fechaNacimiento {
    margin-right: 38.2%;
    margin-left: 38.2%;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Arial black';
}

.columnaGenero {
    width: 20%;
    height: 16px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    float: left;
}

.sexo {
    margin-right: 29.3%;
    margin-left: 29.3%;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Arial black';
}

.columnaGrupoSanguineo {
    width: 15%;
    height: 16px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    float: left;
}

.grupoSanguineo {
    margin-right: 18%;
    margin-left: 18%;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Arial black';
}

.columnaFactorRh {
    width: 14.7%;
    height: 16px;
    border-bottom: 1px solid #aaa;
    float: left;
}

.factorRh {
    margin-right: 30.3%;
    margin-left: 30.3%;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Arial black';
}

.filaSegundoCuadro {
    clear: both;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #aaa;
    font-family: 'Arial black';
    font-size: 12px;
}

.columnaA単o {
    width: 7%;
    height: 100%;
    border-right: 1px solid #aaa;
    float: left;
}

.filaA単o {
    display: inline-block;
    margin-top: 22px;
    font-weight: bold;
    margin-left: 10px;
}

.ColumnaA1 {
    width: 3%;
    height: 100%;
    border-right: 1px solid #aaa;
    float: left;
}

.columnaMes {
    width: 7%;
    height: 100%;
    border-right: 1px solid #aaa;
    float: left;
}

.filaMes {
    display: inline-block;
    margin-top: 22px;
    font-weight: bold;
    margin-left: 35%;
    margin-right: 35%;
}

.columnaDia {
    width: 8.1%;
    height: 100%;
    border-right: 1px solid #aaa;
    float: left;
}

.filaDia {
    display: inline-block;
    margin-top: 22px;
    font-weight: bold;
    margin-left: 37%;
    margin-right: 37%;
}

.Vacia1 {
    width: 20%;
    height: 40px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    float: left;
}

.Vacia2 {
    width: 15%;
    height: 40px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    float: left;
}

.Vacia3 {
    width: 14%;
    height: 40px;
    float: left;
}

.columnaLugarNacimiento {
    clear: both;
    width: 100%;
    height: 16px;
    border-bottom: 1px solid #aaa;
}

.lugarNacimiento {
    margin-left: 27%;
    margin-right: 27%;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Arial black';
}

.tercerCuadro {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 60px;
    margin-top: 10px;
    border: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: #000 4px 4px;
}

.tercerCuadro1 {
    clear: both;
    width: 70%;
    height: 16px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    float: left;
}

.tipoDocumento {
    margin-left: 31.5%;
    margin-right: 31.5%;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Arial black';
}

.tercerCuadro2 {
    width: 29.8%;
    height: 16px;
    border-bottom: 1px solid #aaa;
    float: left;
}

.tipoNumero {
    margin-left: 17.6%;
    margin-right: 17.6%;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Arial black';
}

.lineaFinalCuadro {
    clear: both;
    width: 70%;
    height: 75%;
    border-right: 1px solid #aaa;
    float: left;
}

.lineaFinalCuadro2 {
    width: 29.8%;
    height: 75%;
    float: left;
}

.cuartoCuadro {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 135px;
    margin-top: 10px;
    border: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: #000 4px 4px;
}

.subtituloCuatro {
    width: 100%;
    height: 18px;
    font-family: 'Calibri';
    font-style: italic;
    border-bottom: 1px solid #aaa;
}

.datosMadre {
    margin-left: 10px;
    font-weight: bold;
}

.columnaApellidosNombres {
    clear: both;
    width: 100%;
    height: 16px;
    border-bottom: 1px solid #aaa;
}

.filaApellidosNombres {
    margin-left: 41.5%;
    margin-right: 41.5%;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Arial black';
}

.columnaDocumentoIdentificacion {
    clear: both;
    width: 70%;
    height: 16px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    float: left;
}

.documentoIdentificacion {
    margin-left: 32%;
    margin-right: 32%;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Arial black';
}

.columnaNacionalidad {
    width: 29.8%;
    height: 16px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    float: left;
}

.nacionalidad {
    margin-left: 37.3%;
    margin-right: 37.3%;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Arial black';
}

.columnaVaciaDatos {
    clear: both;
    width: 70%;
    height: 41px;
    border-right: 1px solid #aaa;
    float: left;
}

.columnaVaciaDatos1 {
    width: 29.8%;
    height: 41px;
    float: left;
}

.quintoCuadro {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 135px;
    margin-top: 10px;
    border: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: #000 4px 4px;
}

.subtituloQuinto {
    width: 100%;
    height: 18px;
    font-family: 'Calibri';
    font-style: italic;
    border-bottom: 1px solid #aaa;
}

.datosPadre {
    margin-left: 10px;
    font-weight: bold;
}

.sextoCuadro {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 135px;
    margin-top: 10px;
    border: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: #000 4px 4px;
}

.subtituloSexto {
    width: 100%;
    height: 18px;
    font-family: 'Calibri';
    font-style: italic;
    border-bottom: 1px solid #aaa;
}

.datosDeclarante {
    margin-left: 10px;
    font-weight: bold;
}

.columnaFirma {
    width: 29.8%;
    height: 16px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    float: left;
}

.firma {
    margin-left: 44.5%;
    margin-right: 44.5%;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Arial black';
}

.septimoCuadro {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 135px;
    margin-top: 10px;
    border: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: #000 4px 4px;
}

.subtituloSeptimo {
    width: 100%;
    height: 18px;
    font-family: 'Calibri';
    font-style: italic;
    border-bottom: 1px solid #aaa;
}

.datosTestigo1 {
    margin-left: 10px;
    font-weight: bold;
}

.octavoCuadro {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 135px;
    margin-top: 10px;
    border: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: #000 4px 4px;
}

.subtituloOctavo {
    width: 100%;
    height: 18px;
    font-family: 'Calibri';
    font-style: italic;
    border-bottom: 1px solid #aaa;
}

.datosTestigo2 {
    margin-left: 10px;
    font-weight: bold;
}

.novenoCuadro {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 92px;
    margin-top: 10px;
    border: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: #000 4px 4px;
}

.subtituloNoveno {
    width: 50%;
    height: 19px;
    font-family: 'Calibri';
    font: bold;
    font-style: italic;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    float: left;
}

.fechaInscripcion {
    margin-left: 38.5%;
    margin-right: 38.5%;
    font-weight: bold;
}

.columnaNombreFirma {
    width: 49.9%;
    height: 19px;
    font-family: 'Calibri';
    font: bold;
    font-style: italic;
    border-bottom: 1px solid #aaa;
    float: left;
}

.nombreFirma {
    margin-left: 25.5%;
    margin-right: 25.5%;
    font-weight: bold;
}

.columnaDatosFecha {
    width: 50%;
    height: 72px;
    border-right: 1px solid #aaa;
    float: left;
}

.ColumnaDatosA単o {
    display: inline-block;
    width: 18%;
    float: left;
    margin-top: 2.4%;
    margin-bottom: 15px;
    height: 40px;
}

.datosA単o {
    display: inline-block;
    margin-top: 13px;
    font-family: 'Arial black';
    font-weight: bold;
    font-size: 12px;
    margin-left: 40px;
    float: left
}


.ColumnaDatos {
    border: 1px solid #aaa;
    width: 30px;
    float: left;
    height: 40px;
    margin-top: 15px;
    margin-left: 0px;
}

.ColumnaDatosMes {
    display: inline-block;
    margin-top: 27px;
    margin-right: 25px; 
    font-family: 'Arial black';
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
    float: left
}

.ColumnaDatosDia {
    display: inline-block;
    margin-top: 27px;
    margin-right: 30px; 
    font-family: 'Arial black';
    font-weight: bold;
    font-size: 12px;
    margin-left: 35px;
    float: left
}

.columnaNombreFirma1 {
    display: inline-block;
    width: 49.9%;
    height: 72px;
    font-family: 'Arial black';
    float: left;
}

.nombreFirma2 {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 48px;
    border-top: 1px solid #aaa
}

.nomnbreFirma3 {
    margin-left: 39%;
    margin-right: 39%;
    font-family: 'Arial black';
    font-size: 14px;
}

.decimoCuadro {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 92px;
    margin-top: 10px;
    border: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: #000 4px 4px;
}

.subtituloDecimo {
    width: 50%;
    height: 19px;
    font-family: 'Calibri';
    font: bold;
    font-style: italic;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    float: left;
}

.reconocimiento {
    margin-left: 36%;
    margin-right: 36%;
    font-weight: bold;
}

.columnaReconocimiento {
    width: 49.9%;
    height: 19px;
    font-family: 'Calibri';
    font: bold;
    font-style: italic;
    border-bottom: 1px solid #aaa;
    float: left;
}

.nombreReconocimiento {
    margin-left: 11.5%;
    margin-right: 11.5%;
    font-weight: bold;
}

.columnaCajaFirma {
    display: inline-block;
    width: 50%;
    height: 72px;
    border-right: 1px solid #aaa;
    font-family: 'Arial black';
    float: left;
}

.nombreFirmaPaterno {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 48px;
    border-top: 1px solid #aaa
}

.firmaPaterno {
    margin-left: 46%;
    margin-right: 46%;
    font-family: 'Arial black';
    font-size: 14px;
}

.cuadroFinal {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 150px;
    margin-top: 10px;
    border: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: #000 4px 4px;
}

.subtituloFinal {
    width: 100%;
    height: 20px;
    font-family: 'Arial Black';
    border-bottom: 1px solid #aaa;
}
